<div role="main" class="ui-content my-content">
	<h2>Home</h2>
	<p><b>About This Web App</b></p>
	<p>This is a boilerplate web application based on the <a class="my-external-link" href="http://demos.jquerymobile.com/1.4.2/backbone-requirejs/">example</a> technique suggested by jQuery Mobile (JQM) to utilize Backbone.js and Require.js with JQM to help structure the code. This app is designed based on <a class="my-external-link" href="http://demos.jquerymobile.com/1.4.2/">JQuery Mobile demo page</a></p>

	<br/>

	<h2>Additional Features</h2>
	<p><b>Responsive</b></p>
	<p>This web app can be accessed from desktop and mobile devices. The responsiveness is achieved by using CSS media query, Bootstrap responsive utilities css classes (.visible-xs, .hidden-xs, etc), and PhoneGap device plugin (window.PhoneGap) for showing and hiding content by device. 
		<ul>
			<li>On desktop view, menu panel is displayed on left side.</li>
			<li>On mobile view, menu panel is hidden, menu icon is added to header, and header is fixed on top of screen.</li>
			<li>On PhoneGap, external links are opened within the app (using inappbrowser plugin) instead of phone’s browser so user doesn’t have to leave the app.</li>
		</ul>
	</p>

	<br/>

	<p><b>PhoneGap</b></p>
	<p>This web app can be packaged as iOS and Android app using PhoneGap. We subscribe to PhoneGap build service (build.phonegap.com) and to build an app just need to zip www folder and import it to the build service, or connect the build service to a GitHub repository.</p>
	<p>Download the apps <a class="my-external-link" href="https://build.phonegap.com/apps/820816/share">here</a>.</p>

	<br/>

	<p><b>Google Analytics</b></p>
	<p>Implemented using 2 different tracking IDs (for web site data and for mobile app data).</p>


	<br/>
	<h2>Frameworks/Libraries used</h2>
	<p><a class="my-external-link" href="http://jquerymobile.com">jQuery Mobile</a> is a HTML5-based user interface system designed to make responsive web sites and apps that are accessible on all smartphone, tablet and desktop devices.</p>

	<p><a class="my-external-link" href="http://backbonejs.org">Backbone.js</a> is a great client-side MV* JavaScript framework that provides structure to JavaScript applications by providing View, Model, Collection, Router, and Event class objects.</p>

	<p><a class="my-external-link" href="http://requirejs.org/">Require.js</a> is an AMD (Asynchronous Module Definition) script loader that asynchronously loads your JavaScript to improve page load performance, while also helping with script dependency managagement and allowing you to organize your JavaScript into self contained modules (files).</p>

	<p><a class="my-external-link" href="http://handlebarsjs.com/">Handlebars</a> provides the power necessary to let you build semantic templates effectively with no frustration.</p>

	<p><a class="my-external-link" href="http://getbootstrap.com/">Bootstrap</a> is the most popular front-end framework for developing responsive, mobile first projects on the web.</p>

	<p><a class="my-external-link" href="http://phonegap.com">PhoneGap</a> is a free and open source framework that allows you to create mobile apps using standardized web APIs for the platforms you care about.</p>

	<p><a class="my-external-link" href="https://github.com/ftlabs/fastclick">fastclick</a>. Polyfill to remove click delays on browsers with touch UIs.</p>

<!-- 	<p><a class="my-external-link" href="http://github.hubspot.com/offline/docs/welcome/">offline.js</a> is a library to automatically alert your users when they've lost internet connectivity, like Gmail.</p> -->

	<p><a class="my-external-link" href="http://fabien-d.github.io/alertify.js/">alertify.js</a>. Unobstrusive notification messages.</p>

	<p><a class="my-external-link" href="http://www.google.com/analytics/">Google Analytics</a></p>

	<p><a class="my-external-link" href="http://livechatinc.com">LiveChatInc</a></p>

	<br/>
	<h2>Test Alerts</h2>
	<p>
	<button id="btn-success" class="ui-btn ui-btn-inline">Success</button>
	<button id="btn-error" class="ui-btn ui-btn-inline">Error</button>
	</p>

	<br/>
	<h2>Test Chat</h2>
	<p>
		<a id="a-test-chat">Start Chat!</a>
	</p>
</div><!-- /content -->
