<div role="main" class="ui-content my-content">

	<h2>Our Network</h2>
	<p>Atlantic Tele-Network (ATN) operates an advanced, state-of-the art, digital network that includes wireless, wireline and terrestrial and submarine fiber optic networks in select markets throughout North America and the Caribbean.</p>

	<p>We serve markets that are geographically separated and technically challenging. These markets range from the deserts of the American Southwest to tropical islands in the Caribbean, to the Northwoods of New York and New England. Each of these markets presents unique challenges to implementing and operating reliable and efficient telecommunications networks.</p>

	<p>We have significant experience in design, engineering, operations, maintenance and upgrading of nearly every type of communications network in use today.</p>

	<p>Based on the specific challenges of each geographic region served, we make the best choices from a wide range of technologies to deliver reliable and cost effective bandwidth and services.</p>

	<ul>      
	{{#each []}}
	    <li>
	          {{this.type}}
	    </li>
	{{/each}}  
	</ul>

</div><!-- /content -->